@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700');


$fuente: 'Ubuntu', sans-serif;
$gris1: #A0A0A0;
$gris2: #606060;
$naranja: #ED7022;
$celeste: #45BFB8;
$celclaro: #DAF2F1;
$violeta: #76085E;
$vioclaro: rgba(118, 8, 94, 0.3);
